@import url('http://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root{
    --shadow: #0a201b;
    --delay: 1.5s;
}

*, *:before, *:after{
    position: absolute;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    perspective: 100vmin;
}

body:before, body:after {
    width: 94vmin;
    top: 15vmin;
    text-align: left;
    color: #0e2b25;
    font-family: 'Creepster', cursive;
    white-space: pre-wrap;
    box-sizing: border-box;
    transform: rotateY(45deg) skewY(-13deg);
    z-index: 1;
    content: "Nosferatu";
    font-size: 12vmin;
    padding-left: 3vmin;
}

body:after{
    content: "AAAAA";
    top: 27vmin;
    font-size: 3.15vmin;
    padding-left: 4vmin;
    opacity: 0.75;
}

.content{
    width: 98vmin;
    height: 73.5vmin;
    position: relative;
    overflow: hidden;

}

.content:after{
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20vmin 0vmin #000 inset, 0 0 3vmin 0.25vmin #000 inset, 0 0 1vmin 1vmin #000;
}

.left{
    width: 75.15vmin;
    height: 73.5vmin;
    background: #2a7362;
    left: 0;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 99.85% 0%, 97.75% 100%, 0% 100%);
    clip-path: polygon(0 0, 99.85% 0%, 97.75% 100%, 0% 100%);
}

.stairs {
    width: 56.62vmin;
    height: 34.84vmin;
    bottom: -6.5vmin;
    right: 0;
}

.stairs:before, .stairs:after {
    content: "";
    background: var(--shadow);
    width: 52vmin;
    height: 2.75vmin;
    transform: rotate(-38deg);
    transform-origin: right 0;
    right: 10vmin;
    border-radius: 0.25vmin;
}

.stairs:after {
    width: 15vmin;
    transform: rotate(-165deg);
    right: 10.75vmin;
    top: 2.65vmin;
}


.bars {  
    background: var(--shadow);  
    width: 1vmin;  
    height: 32vmin;  
    right: 9vmin;  
    top: 1vmin;  
    transform: rotate(1deg);  
    box-shadow: 2.5vmin 1vmin 0 0 var(--shadow), 5.25vmin 2vmin 0 0 var(--shadow), 8vmin 3vmin 0 0 var(--shadow), -3.5vmin 2vmin 0 0 var(--shadow), -7.5vmin 6vmin 0 0 var(--shadow), -11.75vmin 10vmin 0 0 var(--shadow), -16vmin 13vmin 0 0 var(--shadow), -20vmin 16vmin 0 0 var(--shadow), -24.25vmin 19vmin 0 0 var(--shadow), -28.5vmin 23vmin 0 0 var(--shadow), -33vmin 27vmin 0 0 var(--shadow);  
} 


.nosferatu{
    height: 59.88vmin;
    width: 38.15vmin;
    left: -35vmin;
    bottom: -37vmin;
    background: var(--shadow);
    box-sizing: border-box;
    -webkit-clip-path: polygon( 73.97% 24.669%,73.97% 24.669%,73.668% 24.675%,73.38% 24.691%,73.106% 24.718%,72.848% 24.755%,72.607% 24.8%,72.382% 24.853%,72.176% 24.914%,71.988% 24.981%,71.82% 25.053%,71.672% 25.131%,71.672% 25.131%,71.322% 25.385%,71.002% 25.707%,70.708% 26.073%,70.44% 26.46%,70.193% 26.843%,69.966% 27.199%,69.756% 27.504%,69.561% 27.734%,69.378% 27.866%,69.205% 27.876%,69.205% 27.876%,69.041% 27.808%,68.889% 27.729%,68.75% 27.641%,68.626% 27.551%,68.517% 27.462%,68.425% 27.378%,68.352% 27.306%,68.298% 27.248%,68.265% 27.21%,68.253% 27.196%,68.253% 27.196%,68.21% 27.263%,68.091% 27.444%,67.913% 27.716%,67.694% 28.052%,67.451% 28.427%,67.2% 28.816%,66.96% 29.193%,66.746% 29.533%,66.577% 29.809%,66.47% 29.998%,66.47% 29.998%,66.246% 30.112%,65.76% 30.185%,65.078% 30.223%,64.263% 30.232%,63.381% 30.217%,62.497% 30.183%,61.674% 30.136%,60.978% 30.081%,60.474% 30.024%,60.226% 29.969%,60.226% 29.969%,60.049% 29.885%,59.737% 29.746%,59.324% 29.565%,58.846% 29.36%,58.335% 29.145%,57.827% 28.937%,57.356% 28.749%,56.957% 28.599%,56.663% 28.5%,56.51% 28.47%,56.51% 28.47%,56.41% 28.509%,56.26% 28.601%,56.071% 28.733%,55.852% 28.89%,55.615% 29.06%,55.37% 29.23%,55.127% 29.385%,54.897% 29.512%,54.691% 29.598%,54.519% 29.63%,54.519% 29.63%,54.262% 29.623%,53.824% 29.608%,53.248% 29.599%,52.578% 29.607%,51.858% 29.644%,51.13% 29.722%,50.439% 29.852%,49.828% 30.046%,49.34% 30.318%,49.019% 30.677%,49.019% 30.677%,48.88% 30.96%,48.764% 31.256%,48.669% 31.56%,48.589% 31.871%,48.523% 32.183%,48.468% 32.494%,48.419% 32.801%,48.373% 33.101%,48.329% 33.389%,48.281% 33.663%,48.281% 33.663%,47.678% 34.34%,46.946% 35.154%,46.122% 36.062%,45.238% 37.022%,44.33% 37.993%,43.433% 38.93%,42.58% 39.793%,41.806% 40.539%,41.146% 41.126%,40.635% 41.511%,40.635% 41.511%,40.16% 41.838%,39.786% 42.145%,39.502% 42.429%,39.295% 42.685%,39.153% 42.912%,39.064% 43.104%,39.016% 43.26%,38.996% 43.375%,38.993% 43.447%,38.995% 43.472%,38.995% 43.472%,38.928% 43.545%,38.746% 43.746%,38.478% 44.047%,38.152% 44.418%,37.797% 44.832%,37.442% 45.261%,37.116% 45.676%,36.848% 46.048%,36.666% 46.35%,36.599% 46.553%,36.599% 46.553%,36.486% 46.762%,36.179% 47.085%,35.726% 47.496%,35.175% 47.969%,34.576% 48.479%,33.974% 48.999%,33.42% 49.505%,32.961% 49.97%,32.645% 50.368%,32.521% 50.675%,32.521% 50.675%,32.498% 50.934%,32.453% 51.205%,32.384% 51.48%,32.29% 51.754%,32.169% 52.021%,32.018% 52.274%,31.837% 52.508%,31.623% 52.718%,31.375% 52.895%,31.091% 53.036%,31.091% 53.036%,30.812% 53.179%,30.579% 53.369%,30.388% 53.608%,30.24% 53.897%,30.129% 54.237%,30.056% 54.629%,30.017% 55.076%,30.01% 55.579%,30.032% 56.139%,30.082% 56.758%,30.082% 56.758%,30.203% 57.911%,30.425% 59.925%,30.724% 62.575%,31.078% 65.636%,31.464% 68.883%,31.859% 72.092%,32.24% 75.038%,32.583% 77.496%,32.867% 79.241%,33.067% 80.048%,33.067% 80.048%,33.218% 80.287%,33.366% 80.478%,33.508% 80.627%,33.64% 80.739%,33.761% 80.819%,33.866% 80.872%,33.954% 80.905%,34.02% 80.922%,34.061% 80.928%,34.076% 80.929%,34.076% 80.929%,34.018% 81.003%,33.86% 81.212%,33.624% 81.532%,33.335% 81.941%,33.015% 82.416%,32.688% 82.936%,32.377% 83.477%,32.106% 84.018%,31.898% 84.536%,31.776% 85.007%,31.776% 85.007%,31.734% 85.402%,31.74% 85.713%,31.777% 85.956%,31.829% 86.145%,31.88% 86.295%,31.913% 86.421%,31.911% 86.539%,31.859% 86.663%,31.74% 86.807%,31.538% 86.988%,31.538% 86.988%,31.27% 87.25%,30.968% 87.614%,30.631% 88.053%,30.261% 88.544%,29.858% 89.061%,29.423% 89.58%,28.957% 90.075%,28.459% 90.523%,27.932% 90.898%,27.376% 91.176%,27.376% 91.176%,26.857% 91.374%,26.435% 91.529%,26.1% 91.647%,25.842% 91.733%,25.652% 91.792%,25.518% 91.828%,25.431% 91.848%,25.382% 91.855%,25.359% 91.856%,25.354% 91.855%,25.354% 91.855%,25.421% 91.866%,25.61% 91.892%,25.905% 91.927%,26.288% 91.962%,26.744% 91.99%,27.255% 92.002%,27.805% 91.991%,28.376% 91.949%,28.952% 91.869%,29.516% 91.742%,29.516% 91.742%,30.051% 91.527%,30.548% 91.207%,31.005% 90.815%,31.42% 90.381%,31.791% 89.938%,32.115% 89.517%,32.391% 89.15%,32.616% 88.868%,32.788% 88.703%,32.905% 88.686%,32.905% 88.686%,32.954% 88.835%,32.927% 89.127%,32.837% 89.532%,32.695% 90.017%,32.512% 90.554%,32.298% 91.11%,32.064% 91.657%,31.823% 92.163%,31.584% 92.598%,31.36% 92.931%,31.36% 92.931%,31.098% 93.216%,30.758% 93.52%,30.364% 93.831%,29.942% 94.138%,29.516% 94.43%,29.112% 94.695%,28.754% 94.921%,28.468% 95.097%,28.277% 95.21%,28.208% 95.251%,28.208% 95.251%,28.245% 95.275%,28.352% 95.334%,28.526% 95.41%,28.763% 95.482%,29.059% 95.533%,29.409% 95.543%,29.81% 95.493%,30.259% 95.365%,30.75% 95.138%,31.28% 94.795%,31.28% 94.795%,31.831% 94.336%,32.376% 93.798%,32.908% 93.214%,33.414% 92.618%,33.884% 92.044%,34.309% 91.525%,34.677% 91.094%,34.978% 90.787%,35.202% 90.635%,35.337% 90.673%,35.337% 90.673%,35.333% 90.955%,35.162% 91.476%,34.853% 92.178%,34.436% 93.005%,33.94% 93.9%,33.393% 94.805%,32.824% 95.664%,32.263% 96.42%,31.739% 97.017%,31.28% 97.396%,29.893% 98.237%,29.893% 98.237%,29.925% 98.256%,30.021% 98.3%,30.186% 98.346%,30.422% 98.37%,30.734% 98.352%,31.124% 98.267%,31.595% 98.093%,32.151% 97.809%,32.794% 97.39%,33.53% 96.816%,33.53% 96.816%,34.216% 96.156%,34.852% 95.401%,35.443% 94.583%,35.993% 93.736%,36.507% 92.891%,36.99% 92.081%,37.445% 91.338%,37.879% 90.696%,38.294% 90.186%,38.696% 89.841%,38.696% 89.841%,38.281% 91.176%,37.83% 92.476%,37.364% 93.726%,36.901% 94.915%,36.461% 96.028%,36.061% 97.052%,35.722% 97.975%,35.462% 98.783%,35.3% 99.462%,35.256% 100%,72.77% 100%,72.77% 100%,72.274% 99.081%,71.795% 98.189%,71.338% 97.337%,70.912% 96.535%,70.524% 95.794%,70.18% 95.127%,69.887% 94.544%,69.654% 94.057%,69.487% 93.676%,69.393% 93.414%,69.393% 93.414%,69.222% 92.935%,68.976% 92.417%,68.676% 91.866%,68.342% 91.292%,67.995% 90.703%,67.655% 90.107%,67.343% 89.511%,67.081% 88.925%,66.888% 88.355%,66.786% 87.812%,66.786% 87.812%,66.666% 87.335%,66.423% 86.949%,66.08% 86.633%,65.661% 86.367%,65.188% 86.131%,64.685% 85.904%,64.175% 85.667%,63.681% 85.399%,63.226% 85.08%,62.834% 84.69%,62.834% 84.69%,62.565% 84.212%,62.448% 83.655%,62.458% 83.044%,62.57% 82.401%,62.76% 81.749%,63.003% 81.112%,63.275% 80.512%,63.549% 79.973%,63.803% 79.517%,64.011% 79.168%,64.011% 79.168%,64.233% 78.878%,64.528% 78.579%,64.868% 78.262%,65.223% 77.918%,65.567% 77.537%,65.87% 77.111%,66.104% 76.629%,66.242% 76.084%,66.254% 75.466%,66.113% 74.766%,66.113% 74.766%,66.019% 74.421%,65.951% 74.1%,65.907% 73.8%,65.886% 73.521%,65.884% 73.264%,65.9% 73.027%,65.932% 72.809%,65.976% 72.61%,66.031% 72.429%,66.094% 72.266%,66.094% 72.266%,66.478% 72.065%,66.865% 71.861%,67.248% 71.659%,67.622% 71.465%,67.983% 71.284%,68.325% 71.121%,68.642% 70.982%,68.929% 70.873%,69.181% 70.798%,69.393% 70.764%,69.393% 70.764%,69.974% 70.588%,70.923% 70.149%,72.14% 69.514%,73.53% 68.747%,74.995% 67.913%,76.437% 67.076%,77.758% 66.302%,78.863% 65.655%,79.652% 65.2%,80.029% 65.001%,80.029% 65.001%,80.192% 64.943%,80.394% 64.864%,80.625% 64.767%,80.875% 64.652%,81.133% 64.521%,81.389% 64.376%,81.631% 64.218%,81.85% 64.049%,82.034% 63.869%,82.174% 63.681%,82.174% 63.681%,82.318% 63.511%,82.517% 63.381%,82.758% 63.286%,83.031% 63.221%,83.325% 63.181%,83.627% 63.159%,83.926% 63.152%,84.212% 63.153%,84.472% 63.158%,84.696% 63.16%,84.696% 63.16%,84.92% 63.131%,85.178% 63.05%,85.459% 62.929%,85.75% 62.779%,86.036% 62.61%,86.307% 62.435%,86.548% 62.263%,86.746% 62.105%,86.89% 61.974%,86.966% 61.88%,86.966% 61.88%,87.038% 61.805%,87.178% 61.73%,87.385% 61.66%,87.66% 61.601%,88.002% 61.56%,88.41% 61.543%,88.886% 61.556%,89.427% 61.606%,90.035% 61.698%,90.708% 61.84%,90.708% 61.84%,91.421% 62.057%,92.133% 62.355%,92.827% 62.709%,93.487% 63.096%,94.093% 63.491%,94.628% 63.868%,95.076% 64.205%,95.417% 64.475%,95.635% 64.656%,95.711% 64.721%,95.711% 64.721%,95.711% 64.695%,95.706% 64.62%,95.693% 64.499%,95.668% 64.335%,95.627% 64.131%,95.566% 63.892%,95.481% 63.619%,95.367% 63.318%,95.221% 62.99%,95.039% 62.64%,95.039% 62.64%,94.771% 62.254%,94.392% 61.828%,93.932% 61.378%,93.419% 60.923%,92.884% 60.479%,92.357% 60.065%,91.867% 59.696%,91.444% 59.39%,91.118% 59.166%,90.918% 59.039%,90.918% 59.039%,90.802% 58.957%,90.716% 58.862%,90.674% 58.761%,90.691% 58.662%,90.782% 58.574%,90.961% 58.503%,91.243% 58.458%,91.642% 58.447%,92.174% 58.478%,92.853% 58.558%,92.853% 58.558%,93.643% 58.695%,94.481% 58.88%,95.336% 59.098%,96.177% 59.334%,96.973% 59.574%,97.693% 59.803%,98.306% 60.007%,98.783% 60.171%,99.091% 60.28%,99.201% 60.319%,99.201% 60.319%,99.187% 60.281%,99.143% 60.175%,99.062% 60.011%,98.94% 59.801%,98.77% 59.554%,98.547% 59.282%,98.266% 58.996%,97.92% 58.706%,97.505% 58.423%,97.015% 58.158%,97.015% 58.158%,96.428% 57.91%,95.75% 57.672%,95.011% 57.447%,94.243% 57.238%,93.478% 57.048%,92.747% 56.879%,92.081% 56.735%,91.512% 56.618%,91.072% 56.531%,90.792% 56.478%,90.792% 56.478%,90.637% 56.428%,90.556% 56.357%,90.557% 56.27%,90.649% 56.175%,90.84% 56.077%,91.137% 55.985%,91.551% 55.904%,92.088% 55.841%,92.757% 55.803%,93.567% 55.797%,93.567% 55.797%,94.462% 55.841%,95.366% 55.938%,96.255% 56.074%,97.103% 56.237%,97.887% 56.413%,98.583% 56.587%,99.167% 56.746%,99.614% 56.877%,99.899% 56.965%,100% 56.998%,100% 56.998%,99.858% 56.873%,99.444% 56.54%,98.775% 56.059%,97.87% 55.489%,96.747% 54.892%,95.423% 54.327%,93.916% 53.855%,92.245% 53.535%,90.427% 53.429%,88.48% 53.596%,88.48% 53.596%,86.583% 53.963%,84.899% 54.398%,83.425% 54.877%,82.159% 55.373%,81.096% 55.862%,80.234% 56.319%,79.57% 56.718%,79.099% 57.035%,78.819% 57.243%,78.726% 57.318%,78.726% 57.318%,78.719% 57.32%,78.696% 57.323%,78.657% 57.325%,78.602% 57.323%,78.532% 57.313%,78.445% 57.292%,78.341% 57.257%,78.22% 57.205%,78.083% 57.133%,77.927% 57.038%,77.927% 57.038%,77.735% 57.021%,77.391% 57.104%,76.918% 57.273%,76.342% 57.512%,75.686% 57.809%,74.974% 58.147%,74.23% 58.513%,73.478% 58.893%,72.743% 59.271%,72.049% 59.635%,72.049% 59.635%,72.294% 59.012%,72.518% 58.423%,72.718% 57.872%,72.891% 57.364%,73.035% 56.906%,73.147% 56.501%,73.223% 56.155%,73.263% 55.873%,73.262% 55.66%,73.218% 55.522%,73.218% 55.522%,73.004% 55.248%,72.794% 55.059%,72.598% 54.931%,72.425% 54.845%,72.281% 54.779%,72.178% 54.711%,72.122% 54.62%,72.122% 54.484%,72.187% 54.282%,72.326% 53.994%,72.326% 53.994%,72.622% 53.497%,73.116% 52.733%,73.754% 51.768%,74.48% 50.67%,75.24% 49.509%,75.978% 48.35%,76.64% 47.263%,77.17% 46.315%,77.515% 45.574%,77.618% 45.108%,77.618% 45.108%,77.622% 44.819%,77.696% 44.562%,77.824% 44.334%,77.989% 44.132%,78.175% 43.955%,78.367% 43.8%,78.548% 43.665%,78.702% 43.547%,78.814% 43.444%,78.867% 43.354%,78.867% 43.354%,78.886% 43.241%,78.911% 43.083%,78.941% 42.896%,78.978% 42.696%,79.023% 42.498%,79.076% 42.319%,79.14% 42.175%,79.215% 42.081%,79.302% 42.054%,79.402% 42.109%,79.402% 42.109%,79.508% 42.237%,79.613% 42.409%,79.717% 42.61%,79.821% 42.826%,79.926% 43.043%,80.031% 43.246%,80.138% 43.421%,80.246% 43.554%,80.358% 43.631%,80.472% 43.637%,80.472% 43.637%,80.586% 43.608%,80.698% 43.574%,80.807% 43.519%,80.915% 43.422%,81.022% 43.266%,81.129% 43.03%,81.237% 42.696%,81.346% 42.246%,81.457% 41.661%,81.572% 40.921%,81.572% 40.921%,81.669% 40.164%,81.734% 39.533%,81.773% 39.015%,81.792% 38.598%,81.798% 38.271%,81.799% 38.021%,81.799% 37.837%,81.807% 37.705%,81.828% 37.615%,81.869% 37.553%,81.869% 37.553%,81.97% 37.487%,82.15% 37.394%,82.389% 37.278%,82.664% 37.146%,82.954% 37.001%,83.237% 36.85%,83.491% 36.697%,83.694% 36.548%,83.824% 36.407%,83.861% 36.28%,83.861% 36.28%,83.83% 36.168%,83.776% 36.069%,83.706% 35.983%,83.626% 35.909%,83.541% 35.848%,83.458% 35.799%,83.383% 35.761%,83.322% 35.735%,83.281% 35.719%,83.266% 35.714%,83.266% 35.714%,83.28% 35.542%,83.302% 35.065%,83.303% 34.338%,83.254% 33.416%,83.125% 32.357%,82.887% 31.215%,82.512% 30.047%,81.969% 28.908%,81.229% 27.854%,80.264% 26.942%,80.264% 26.942%,79.583% 26.461%,78.903% 26.047%,78.228% 25.695%,77.563% 25.401%,76.909% 25.163%,76.273% 24.976%,75.657% 24.837%,75.065% 24.742%,74.501% 24.687%,73.97% 24.669%,45.97% 51.891%,45.97% 51.891%,46.015% 52.457%,46.067% 53.125%,46.126% 53.862%,46.187% 54.634%,46.248% 55.409%,46.306% 56.154%,46.359% 56.836%,46.405% 57.424%,46.44% 57.883%,46.462% 58.182%,46.462% 58.182%,46.399% 58.54%,46.2% 59.273%,45.885% 60.336%,45.472% 61.685%,44.979% 63.277%,44.425% 65.068%,43.829% 67.013%,43.21% 69.069%,42.585% 71.191%,41.974% 73.337%,41.974% 73.337%,41.981% 72.863%,41.982% 72.411%,41.975% 71.982%,41.961% 71.578%,41.939% 71.201%,41.909% 70.853%,41.871% 70.535%,41.825% 70.25%,41.769% 69.999%,41.705% 69.783%,41.705% 69.783%,41.429% 68.83%,41.233% 67.815%,41.106% 66.753%,41.037% 65.662%,41.014% 64.556%,41.025% 63.451%,41.057% 62.365%,41.1% 61.312%,41.142% 60.308%,41.17% 59.37%,41.17% 59.37%,41.215% 58.583%,41.304% 57.998%,41.427% 57.58%,41.572% 57.292%,41.728% 57.099%,41.881% 56.966%,42.02% 56.856%,42.135% 56.735%,42.212% 56.566%,42.24% 56.314%,42.24% 56.314%,42.243% 56.027%,42.256% 55.773%,42.285% 55.541%,42.337% 55.323%,42.419% 55.111%,42.536% 54.896%,42.695% 54.668%,42.903% 54.42%,43.165% 54.141%,43.489% 53.824%,43.489% 53.824%,43.662% 53.667%,43.86% 53.501%,44.079% 53.324%,44.318% 53.14%,44.572% 52.947%,44.839% 52.747%,45.116% 52.541%,45.398% 52.329%,45.684% 52.112%,45.97% 51.891% );
    -webkit-animation: move 7s cubic-bezier(0.25,0.15,0.71,0.8) var(--delay) infinite, step 7s linear var(--delay) infinite;
    animation: move 7s cubic-bezier(0.25,0.15,0.71,0.8) var(--delay) infinite, step 7s linear var(--delay) infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@-webkit-keyframes move{
    0% {left: -35vmin; bottom: -37vmin; width: 45vmin;}
    20% {left: -6vmin; bottom: -24vmin;}
    50% {left: 28vmin; bottom: -0.5vmin; width: 38.15vmin;}
    70% {left: 72vmin; bottom: 0vmin; width: 38.15vmin;}
}

@keyframes move{
    0% {left: -35vmin; bottom: -37vmin; width: 45vmin;}
    20% {left: -6vmin; bottom: -24vmin;}
    50% {left: 28vmin; bottom: -0.5vmin; width: 38.15vmin;}
    70% {left: 72vmin; bottom: 0vmin; width: 38.15vmin;}
}

@keyframes step{
    0%, 15%, 25%, 35%, 45%, 55% {transform: translateY(0vmin);}
    10%, 20%, 30%, 40%, 50%, 60%, 100% {transform: translateY(1vmin);}
}
@keyframes step{
    0%, 15%, 25%, 35%, 45%, 55% {transform: translateY(0vmin);}
    10%, 20%, 30%, 40%, 50%, 60%, 100% {transform: translateY(1vmin);}
}
        
.right{
    width: 24.5vmin;
    height: 73.5vmin;
    right: 0;
    background: 
        linear-gradient(89.5deg, #fff0 0 19.5vmin, #153f35 calc(19.5vmin + 1px)100%),
        linear-gradient(90.5deg, #fff0 0 11.5vmin, #0c2620 calc(11.5vmin + 1px) 100%),
        linear-gradient(90deg, #1c4c3f calc(1.5vmin + 1px) 100%),
}